<template name="stockItem">
 <div class="stock">
 <div class="stock-content">
 <h3>
 	<a href="http://www.gurufocus.com//stock.php?symbol={{ticker}}">{{ticker}} - GF </a>
 </h3>
 <br>
 
      <br>
      <table>
      	<tr>
      		<td>
            	<img src="http://stockcharts.com/c-sc/sc?s={{ticker}}&p=D&b=5&g=0&i=t96600992511&r=1430460840135"/><br>
              <a href="{{pathFor 'stockPage'}}" class="discuss btn btn-default">Edit</a>
              </td><td>

            </td>
        </tr>
    </table>
    <br>
 </div>
 </div>
</template>