<template name="stockItem">
 <div class="stock">
 <div class="stock-content">
 <h5>
 	<a href="http://www.gurufocus.com//stock.php?symbol={{ticker}}">{{ticker}} - GF </a> 
 	<li>{{buyFlag}}</li>
 </h5>
      <br>
      <table>
      	<tr>
      		<td>
            	<img src="http://stockcharts.com/c-sc/sc?s={{item}}&p=D&b=5&g=0&i=t18138412342&r=1430436714912"/>
            </td
            ><td>
            	<img src="http://stockcharts.com/c-sc/sc?s={{item}}&p=W&b=5&g=0&i=t99261714081&r=1408323404116"/>
            </td>
        </tr>
    </table>
    <br>
 </div>
 </div>
</template>